/* CSS styles for desktop screen */

body {
    background-color: rgb(241, 237, 237);
    padding-left: 100px;
}

hr {
    width: 700px;
    margin-left: 350px;
    height: 20px;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#main-content {
    display: block;
}

#corner-title {
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    left: 110px;
}

.main-menu {
    background-color: white;
    margin-top: 40px;
    height: 80%;
    width: 175px;
    position: fixed;
    padding: 10px;
}

.main-menu a {
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50);
    text-decoration: none;
    display: block;
    margin: 20px;
}

.subnav {
    margin-left: 10px;
}

#sub-subnav {
    margin-left: 10px;
    display: none;
}

#subnav-icon {
    font-size: 18px;
    margin-left: 3px;
}

.topics {
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    text-align: justify;
    width: 700px;
    margin-left: 350px;
    margin-top: 60px;
    margin-bottom: 60px;
}

img.topics {
    width: 800px;
    margin: -50px 0 50px 300px;
    border: 2px solid rgb(18, 18, 18);
    border-radius: 5%;
}

.code-example-div {
    display: none;
    background-color: white;
    font-size: 10px;
    text-align: left;
    padding: 5px;
    border: 1px solid rgb(18, 18, 18);
}

.white-div {
    background-color: white;
    width: 700px;
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
}

p {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

li {
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    padding: 3px;
}

.helvetica-text {
    font-family: Helvetica, sans-serif;
}

.poppins-text {
    font-family: Poppins, sans-serif;
}

.small-text {
    font-size: 12px;
}

.medium-text {
    font-size: 16px;
}

.large-text {
    font-size: 20px;
}

.regular-weight {
    font-weight: 400;
}

.semibold-weight {
    font-weight: 600;
}

.bold-weight {
    font-weight: 800;
}

.emphasized {
    font-style: italic;
}

.black-text {
    color: rgb(50, 50, 50);
}

.yellow-text {
    color: rgb(251, 250, 157);
}

.red-text {
    color: rgb(141, 25, 25);
}

.body-color-light {
    background-color: rgb(241, 237, 237);
}

.body-color-dark {
    background-color: rgb(168, 164, 164);
}

.menu-color {
    background-color: white;
}

.borders-general {
    border: 3px solid rgb(18, 18, 18);
}

#light-black-mix {
    background-color: rgb(241, 237, 237);
    color: rgb(50, 50, 50);
}

#dark-yellow-mix {
    background-color: rgb(168, 164, 164);
    color: rgb(251, 250, 157);
}

#light-red-mix {
    background-color: rgb(241, 237, 237);
    color: rgb(141, 25, 25);
}

.multiple-col-table {
    width: 700px;
    border: 1px solid rgb(50, 50, 50);
    border-collapse: collapse;
}

.few-col-table {
    width: 250px;
    border: 1px solid rgb(50, 50, 50);
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    border: 1px solid rgb(50, 50, 50);
}

.multiple-col-table tr:nth-child(even) {
    background-color: #D6EEEE;
}

.right-aligned-cell {
    text-align: right;
}

#vertical-menu-example {
    background-color: white;
    margin-top: 40px;
    padding: 10px;
    height: 80%;
    width: 175px;
}

#vertical-menu-example a {
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50);
    text-decoration: none;
    display: block;
    margin: 20px;
}

#horizontal-menu-example {
    background-color: #333;
    overflow: hidden;
}

#horizontal-menu-example a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
}

.dot {
    margin: 25px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    display: inline-block;
}

.standard-btn {
    background-color: rgb(194, 194, 194);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    padding: 7px 7px;
    text-align: center;
    display: inline-block;
}

.functional-btn {
    background-color: rgb(135, 149, 249);
    border: 4px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    padding: 7px 7px;
    width: 120px;
    text-align: center;
    display: inline-block;
}

.positive-btn {
    background-color: rgb(208, 249, 224);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    padding: 7px 7px;
    width: 80px;
    text-align: center;
    display: inline-block;
}

.negative-btn {
    background-color: rgb(249, 114, 114);
    border: 2px solid rgb(50, 50, 50);
    border-radius: 5px;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    color: rgb(50, 50, 50);
    font-size: 12px;
    font-weight: 600;
    margin: 5px;
    padding: 7px 7px;
    width: 80px;
    text-align: center;
    display: inline-block;
}


.alert {
    padding: 25px;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
}

.closing-x {
    color: white;
    font-weight: 900;
    float: right;
    font-size: 32px;
    line-height: 16px;
    cursor: pointer;
}

.closing-x:hover {
    color: rgb(16, 16, 16);
}

.alert.success {
    background-color: rgb(14, 191, 126);
}

.alert.neutral {
    background-color: rgb(108, 110, 251);
}

.alert.warning {
    background-color: rgb(255, 156, 7);
}

.alert.danger {
    background-color: rgb(241, 76, 76);
}

.sidepanel {
    height: 0;
    width: 0;
    position: fixed;
    z-index: 1;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    text-align: center;
}

#positive-panel {
    background-color: rgb(208, 249, 224);
}

#neutral-panel {
    background-color: rgb(194, 194, 194);
}

#negative-panel {
    background-color: rgb(249, 114, 114);
}

.closing-panel-x {
    color: white;
    font-weight: 900;
    float: right;
    font-size: 48px;
    line-height: 24px;
    cursor: pointer;
}

#lighter-black {
    background-color: rgb(72, 72, 72);
}

#standard-black {
    background-color: rgb(50, 50, 50);
}

#darker-black {
    background-color: rgb(16, 16, 16);
}

#lighter-yellow {
    background-color: rgb(254, 253, 194);
}

#standard-yellow {
    background-color: rgb(251, 250, 157);
}

#darker-yellow {
    background-color: rgb(235, 232, 76);
}

#lighter-red {
    background-color: rgb(210, 81, 81);
}

#standard-red {
    background-color: rgb(141, 25, 25);
}

#darker-red {
    background-color: rgb(107, 13, 13);
}

.load-group {
    display: inline-block;
    margin-left: 20px;
}

.loadspinner {
    width: 20px;
    height: 20px;
    border: 10px dashed rgb(255, 255, 255);
    border-top: 10px solid rgb(76, 64, 248);
    border-radius: 50%;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.load-span {
    margin-left: 5px;
}

.blinking-dot {
    animation: 1s blinking infinite;
    margin-left: -4px;
}

.blinking-dot:nth-child(2) {
    animation-delay: 250ms;
}

.blinking-dot:nth-child(3) {
    animation-delay: 500ms;
}

@keyframes blinking {
    75% {
        color: rgb(76, 64, 248);
    }
}

label, input, select {
    font-family: Helvetica, sans-serif;
    margin: 5px 0;
}

label {
    color: rgb(50, 50, 50);
}

input {
    color: rgb(50, 50, 50);
    width: 700px;
}

select {
    color: rgb(50, 50, 50);
    margin-top: 5px;
    margin-bottom: 2px;
    color: black;
    width: 350px;
    padding: 2px;
}

#student, #student-question {
    color: rgb(50, 50, 50);
    margin: 10px 5px;
    width: auto;
    float: left;
}

#submit-btn {
    background-color: rgb(135, 149, 249);
    font-weight: 600;
    padding: 7px 35px;
    border: 3px solid rgb(18, 18, 18);
}

footer {
    font-family: Poppins, sans-serif;
    background-color: white;
    width: 700px;
    margin-left: 350px;
    margin-top: 50px;
    text-align: center;
}